<div class="icons-container">
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Plus Light:
    </span>
    <app-icon [name]="'plus'"
              [type]="'light'"
              [width]="'40px'"
              [height]="'40px'">
    </app-icon>
  </div>
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Plus Regular Colored:
    </span>
    <app-icon [name]="'plus'"
              [fill]="'#FFAA00'">
    </app-icon>
  </div>
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Plus Solid:
    </span>
    <app-icon [name]="'plus'"
              [type]="'solid'">
    </app-icon>
  </div>
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Minus Light:
    </span>
    <app-icon [name]="'minus'"
              [type]="'light'"
              [width]="'40px'"
              [height]="'40px'">
    </app-icon>
  </div>
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Minus Regular Colored:
    </span>
    <app-icon [name]="'minus'"
              [fill]="'red'">
    </app-icon>
  </div>
  <div class="icons-container-item">
    <span class="icons-container-item__title">
      Minus Solid:
    </span>
    <app-icon [name]="'minus'"
              [type]="'solid'">
    </app-icon>
  </div>
</div>